    .button {
        flex:1 1 auto;
        font-size:0.7em;
        font-weight:bold;
        padding:0.5em;
        border:2px solid rgb(82,147,202);
        color:rgb(82,147,202);
        border-radius:0.5em;
        transition:background 0.5s ease;
        cursor:pointer;
    }
    .capitalise {
        text-transform:capitalize;
    }
    .labelTwo {
        display:block;
        font-size:1.25em;
    }